
.todo-bar {
  height: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  overflow-y: auto;
}

.todo-tab {
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: .5em;
  padding: 1%;
  width: 300px;
  height: 400px;

  margin: 1% 1%;
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }

  &:hover {
    box-shadow: 0 0 0 2pt purple;
    border-color: purple;
    cursor: pointer;
  }

  p {
    font-size: 18px;
  }

}

.button-holder {
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  svg {
    font-size: 30px;
  }
  #trash:hover {
    color: red;
  }
  #edit:hover {
    color: #FFC145;
  }
  #check:hover {
    color: green;
  }
}

.date-holder {
  flex-direction: column;
}
.todo-due {
  font-size: 12px;
  color: grey;
}
.todo-created {
  font-size: 12px;
  color: grey;
}

@media only screen and (max-width: 430px) {
.todo-tab {
    width: 92%;
  }
}
